---
interface Props {
	title: string;
	body: string;
	href: string;
	src: string;
	tags: Array<string>;
}

const { tags, href, src, title, body } = Astro.props;
---

<div
	class="max-w-sm min-h-[450px] rounded overflow-hidden shadow-lg flex flex-col h-full"
>
	<img class="w-full" src={src} />
	<div class="px-6 py-4 flex-1">
		<div class="font-bold text-xl mb-2">{title}</div>
		<p class="text-gray-700 text-base">
			{body}
		</p>
	</div>
	<div class="px-6 pt-4 pb-2">
		{
			tags.map((tag) => (
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
					{tag}
				</span>
			))
		}
	</div>
	<div class="w-full flex justify-center items-end">
		<a
			target="_blank"
			href={href}
			class="p-2 m-2 w-full text-center border border-black hover:text-white hover:bg-black"
		>
			See more
		</a>
	</div>
</div>
